input{
    border: 1px solid black; border-radius: 5px;
}
textarea{
    border: 2px solid black; border-radius: 5px;
}
h3, h4{
  display: initial; border: 1px solid black; border-radius: 4px;
}